/* GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
    /* border: 1px solid black; */
}

/* 1° SECTION: NAVBAR-TOP */
#navbar-top {
    background-color: white;
}

#navbar-top .container {
    height: 70px;
}

.navbar-top-left, .navbar-top-center, .navbar-top-right {
    line-height: 70px;
}

/* 1° SECTION: NAVBAR-TOP-LEFT */
.navbar-top-left img {
    width: 160px;
}

/* 1° SECTION: NAVBAR-TOP-CENTER */
#navbar-top ul {
    margin-bottom: 0;
}

#navbar-top ul li {
    display: inline-block;
}

#navbar-top li a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 400;
    font-size: 1.6rem;
}

#navbar-top li a:hover {
    color: #3a8aff;
}

/* 1° SECTION: NAVBAR-TOP-RIGHT */
.navbar-top-right {
    text-align: right;
    float: right;
}

.navbar-top-right .btn.btn-default.navbar-btn {
    margin-left: 15px;
    color: #006aff;
    border-color: #006aff;
}

.navbar-top-right .btn.btn-default.navbar-btn:hover {
    color: white;
    background-color: #006aff;
    transition: all 0.3s ease;
}

.navbar-top-right .btn.btn-outline-dark {
    color: #3a8aff;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.navbar-top-right .btn.btn-outline-dark:hover {
    background-color: #3a8aff;
    color: white;
    transition: all 0.3s ease;
    padding: 5px;
}

/* 2° SECTION: JUMBOTRON-BOTTOM */
#jumbotron-bottom {
    background-image: url("../img/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron-bottom .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* 2° SECTION: JUMBOTRON-BOTTOM-LEFT */
.jumbotron-bottom-left h1 {
    color: white;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.2rem;
    margin: 0;
}

.jumbotron-bottom-left p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 10px;
}

/* 2° SECTION: JUMBOTRON-BOTTOM-RIGHT */
.form {
    text-align: center;
}

.form-signin {
  padding: 15px 35px 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
}

input[type="email"] {
    margin-bottom: 10px;
}

input[type="password"] {
    margin-bottom: 10px;
}

.form-control::placeholder {
    color: grey;
}

.form h2.text1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form h2.text2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #006aff;
}

.form .btn.btn-lg.btn-primary {
    line-height: 15px;
    background-color: #579aff;
    border: #579aff;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.form .btn.btn-lg.btn-primary:hover {
    background-color: #0037b3;
    transition: all 0.3s ease;
}

.form .btn.btn-lg.btn-secondary {
    background-color: white;
    color: #626262;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 1px 2px 5px -5px rgba(0,0,0);
    text-align: justify;
    position: relative;
}

.form .btn.btn-lg.btn-secondary:hover {
    color: #006aff;
    transition: all 0.3s ease;
}

.form .btn.btn-lg.btn-secondary .text-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .btn.btn-lg.btn-secondary img {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form p {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 500;
}

.form a {
    color: #006aff;
    text-decoration: underline;
}

/* 3° SECTION: SITES-MAIN-TOP */
#sites-main-top {
    background-color: #f3f5f9;
}

#sites-main-top .container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* 3° SECTION: SITES-MAIN-TOP-HIGH */
.sites-main-top-high h4 {
    color: #6f7b97;
}

/* 3° SECTION: SITES-MAIN-TOP-CENTER */
.sites-main-top-center {
    margin-top: 20px;
}

.sites-main-top-center img {
    height: 100px;
    width: 100%;
}

/* 3° SECTION: SITES-MAIN-TOP-BOTTOM */
.sites-main-top-bottom {
    margin-top: 20px;
}

.sites-main-top-bottom a {
    color: #006aff;
    font-size: 1.6rem;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1 */
#services-main-central-1 {
    background-color: white;
}

#services-main-central-1 .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-TOP */
.services-main-central-1-top {
    margin-bottom: 50px;
}

.services-main-central-1-top p {
    color: #5c6a88;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 10px;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-BOTTOMLEFT */
.services-main-central-1-bottomleft ul {
    text-align: left;
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
}

.services-main-central-1-bottomleft ul li {
    color: #5c6a88;
    font-size: 2rem;
    border-left: 1px solid lightgrey;
    padding: 10px;
    cursor: pointer;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-BOTTOMRIGHT */
.services-main-central-1-bottomright {
    text-align: left;
}

.services-main-central-1-bottomright h4 {
    margin-top: 15px;
}

.services-main-central-1-bottomright p {
    color: #5c6a88;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.services-main-central-1-bottomright [class*="col-"] {
    height: 170px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2 */
#services-main-central-2 {
    background-color: #f3f5f9;
}

#services-main-central-2 .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2-TOP */
.services-main-central-2-top p {
    color: #5c6a88;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 70px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2-BOTTOM */
.services-main-central-2-bottom img {
    width: 600px;
}

.services-main-central-2-bottom h5 {
    color: #1d335f;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 25px;
}

.fa.fa-chevron-left {
    color: #6f7b97;
    margin-right: 20px;
    cursor: pointer;
}

.fa.fa-chevron-right {
    margin-left: 20px;
    cursor: pointer;
}

.fa.fa-circle, .fa.fa-circle-thin {
    color: blue;
    cursor: pointer;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3 */
#features-main-central-3 {
    background-color: white;
}

#features-main-central-3 .container {
    padding-top: 50px;
    padding-bottom: 60px;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3-TOP */
.features-main-central-3-top {
    text-align: center;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3-BOTTOM */
#features-main-central-3 img {
    margin-top: 20px;
}

#features-main-central-3 p {
    color: #5c6a88;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#features-main-central-3 a {
    color: #006aff;
    font-size: 1.6rem;
}

/* 7° SECTION: CUSTOMERS-MAIN-CENTRAL-4 */
#customers-main-central-4 {
    background-color: #0037b3;
}

#customers-main-central-4 .container {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* 7° SECTION: CUSTOMERS-MAIN-CENTRAL-4-TOP */
.customers-main-central-4-top h1 {
    color: white;
    text-align: center;
}

/* 7° SECTION: CUSTOMERS-MAIN-CENTRAL-4-BOTTOM */
.my-container-servers {
    border-bottom: 1px solid white;
}

.text-col-1, .text-col-2, .text-col-3 {
    padding: 8px;
}

.customers-main-central-4-bottom-servers .col-lg-3 {
    text-align: right;
}

.text-col-1 {
    color: white;
    font-weight: 600;
}

.text-col-2 {
    color: rgba(255, 255, 255, 0.7);
}

.text-col-3 a {
    color: #00c8cf;
    list-style-type: none;
}

.text-col-3 a:hover {
    color: #3a8aff;
    text-decoration: none;
}

.customers-main-central-4-bottom-servers {
    padding-bottom: 30px;
}


/* 8° SECTION: DEVELOPMENT-MAIN-CENTRAL-5 */
#development-main-central-5 {
    background-color: #f3f5f9;
}

#development-main-central-5 .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

/* 8° SECTION: DEVELOPMENT-MAIN-CENTRAL-5-TOP */
.development-main-central-5-top {
    margin-bottom: 80px;
}

/* 8° SECTION: DEVELOPMENT-MAIN-CENTRAL-5-BOTTOM */
.development-main-central-5-bottom img {
    width: 600px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.development-main-central-5-bottom h5 {
    color: #1d335f;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 25px;
}

/* 9° SECTION: GETNOW-MAIN-BOTTOM */
#getnow-main-bottom {
    background-color: #0037b3;
}

#getnow-main-bottom .container {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 60px;
}

.create-account-button {
    margin-top: 20px;
    background-color: white;
    color: #006aff;
    padding: 12px;
    border-radius: 5px;
    width: 190px;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
}

.create-account-button:hover {
    background-color: lightgrey;
    transition: all 0.5s ease;
}

/* 10° SECTION: FOOTER-BOTTOM */
#footer-bottom {
    background-color: #031c4e;
    padding-top: 55px;
    padding-bottom: 60px;
}

.footerleft-text-1 {
    margin-top: 10px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    font-weight: 500;
}

.footerleft-text-2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.6rem;
    font-weight: 500;
}

.wrapper {
    padding-bottom: 15px;
    margin-right: 10px;
}

.wrapper [class*="fa-"] {
    font-size: 2.5rem;
}

.wrapper ul li {
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook-official {
    color: white;
    text-shadow: 0 0 15px white;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.twitter {
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: white;
    text-shadow: 0 0 15px white;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: white;
    text-shadow: 0 0 15px white;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.youtube {
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube-play {
  color: white;
  text-shadow: 0 0 15px white;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.linkedin {
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin-square {
  color: white;
  text-shadow: 0 0 15px white;
  transition: all 0.5s ease;
}

#footer-bottom h4 {
    color: white;
    font-weight: 600;
}

#footer-bottom ul {
    padding-left: 0;
    padding-bottom: 6px;
}

#footer-bottom ul li {
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

#footer-bottom ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 1.6rem;
}

#footer-bottom ul li a:hover {
    color: white;
}


/* CSS media */
@media screen and (max-width: 767px) {
    #services-main-central-1 .container {
        padding-bottom: 0px;
    }

    .services-main-central-2-bottom img,
    .development-main-central-5-bottom img {
        width: 300px;
    }

    .services-main-central-2-top {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .services-main-central-2-bottom img,
    .development-main-central-5-bottom img {
        width: 400px;
    }

    .services-main-central-2-top {
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .services-main-central-2-top {
        margin-bottom: 70px;
    }
}
