/* debug */
.h50 {
    height: 50px;
}

.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.right {
    float: right;
}

[class*="col-"] {
    border: 1px solid black;
}

#customers-main-central-4 [class*="col-"],
#getnow-main-bottom [class*="col-"],
#footer-bottom [class*="col-"] {
    border: 1px solid white;
}

/* GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

/* 1° SECTION: NAVBAR-TOP */
#navbar-top {
    background-color: white;
}

#navbar-top .container {
    height: 70px;
}

.navbar-top-left, .navbar-top-center, .navbar-top-right {
    line-height: 70px;
}

/* 1° SECTION: NAVBAR-TOP-LEFT */
.navbar-top-left img {
    width: 160px;
}

/* 1° SECTION: NAVBAR-TOP-CENTER */
#navbar-top ul {
    margin-bottom: 0;
}

#navbar-top ul li {
    display: inline-block;
}

#navbar-top li a {
    color: black;
    margin-left: 15px;
    font-weight: 400;
    font-size: 1.6rem;
}

/* 1° SECTION: NAVBAR-TOP-RIGHT */
.navbar-top-right {
    text-align: right;
    float: right;
}

.navbar-top-right .btn.btn-default.navbar-btn {
    margin-left: 15px;
    color: #006aff;
    border-color: #006aff;
}

.navbar-top-right .btn.btn-outline-dark {
    color: #3a8aff;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* 2° SECTION: JUMBOTRON-BOTTOM */
#jumbotron-bottom {
    background-image: url("../img/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron-bottom .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* 2° SECTION: JUMBOTRON-BOTTOM-LEFT */
.jumbotron-bottom-left h1 {
    color: white;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.2rem;
    margin: 0;
}

.jumbotron-bottom-left p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 10px;
}

/* 2° SECTION: JUMBOTRON-BOTTOM-RIGHT */
.form {
    text-align: center;
}

.form-signin {
  padding: 15px 35px 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
}

input[type="email"] {
    margin-bottom: 10px;
}

input[type="password"] {
    margin-bottom: 10px;
}

.form-control::placeholder {
    color: grey;
}

.form h2.text1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form h2.text2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #006aff;
}

.form .btn.btn-lg.btn-primary {
    background-color: #579aff;
    border: #579aff;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.form .btn.btn-lg.btn-secondary {
    background-color: white;
    color: #626262;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 1px 2px 5px -5px rgba(0,0,0);
    text-align: justify;
    position: relative;
}

.form .btn.btn-lg.btn-secondary .text-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .btn.btn-lg.btn-secondary img {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form p {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 500;
}

.form a {
    color: #006aff;
    text-decoration: underline;
}

/* 3° SECTION: SITES-MAIN-TOP */
#sites-main-top {
    background-color: #f3f5f9;
}

#sites-main-top .container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* 3° SECTION: SITES-MAIN-TOP-HIGH */
.sites-main-top-high h4 {
    color: #6f7b97;
}

/* 3° SECTION: SITES-MAIN-TOP-CENTER */
.sites-main-top-center {
    margin-top: 20px;
}

.sites-main-top-center img {
    height: 100px;
    width: 100%;
}

/* 3° SECTION: SITES-MAIN-TOP-BOTTOM */
.sites-main-top-bottom {
    margin-top: 20px;
}

.sites-main-top-bottom a {
    color: #006aff;
    font-size: 1.6rem;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1 */
#services-main-central-1 {
    background-color: white;
}

#services-main-central-1 .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-TOP */
.services-main-central-1-top {
    margin-bottom: 50px;
}

.services-main-central-1-top p {
    color: #5c6a88;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 10px;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-BOTTOMLEFT */
.services-main-central-1-bottomleft ul {
    text-align: left;
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
}

.services-main-central-1-bottomleft ul li {
    color: #5c6a88;
    font-size: 2rem;
    border-left: 1px solid lightgrey;
    padding: 10px;
}

/* 4° SECTION: SERVICES-MAIN-CENTRAL-1-BOTTOMRIGHT */
.services-main-central-1-bottomright {
    text-align: left;
}

.services-main-central-1-bottomright h4 {
    margin-top: 15px;
}

.services-main-central-1-bottomright p {
    color: #5c6a88;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.services-main-central-1-bottomright [class*="col-"] {
    height: 170px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2 */
#services-main-central-2 {
    background-color: #f3f5f9;
}

#services-main-central-2 .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2-TOP */
.services-main-central-2-top p {
    color: #5c6a88;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 70px;
}

/* 5° SECTION: SERVICES-MAIN-CENTRAL-2-BOTTOM */
.services-main-central-2-bottom {
    position: relative;
}

.services-main-central-2-bottom img {
    width: 600px;
}

.services-main-central-2-bottom h5 {
    color: #1d335f;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 25px;
}

.fa.fa-chevron-left {
    color: #6f7b97;
    position: absolute;
    top: 50%;
    left: 13%;
}

.fa.fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 13%;
}

.fa.fa-circle, .fa.fa-circle-thin {
    color: blue;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3 */
#features-main-central-3 {
    background-color: white;
}

#features-main-central-3 .container {
    padding-top: 50px;
    padding-bottom: 60px;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3-TOP */
.features-main-central-3-top {
    text-align: center;
}

/* 6° SECTION: FEATURES-MAIN-CENTRAL-3-BOTTOM */
#features-main-central-3 img {
    margin-top: 20px;
}

#features-main-central-3 p {
    color: #5c6a88;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#features-main-central-3 a {
    color: #006aff;
    font-size: 1.6rem;
}

/* 7° SECTION: CUSTOMERS-MAIN-CENTRAL-4 */
#customers-main-central-4 {
    background-color: blue;
}

/* 8° SECTION: DEVELOPMENT-MAIN-CENTRAL-5 */
#development-main-central-5 {
    background-color: lightgrey;
}

/* 9° SECTION: GETNOW-MAIN-BOTTOM */
#getnow-main-bottom {
    background-color: blue;
}

/* 10° SECTION: FOOTER-BOTTOM */
#footer-bottom {
    background-color: darkblue;
}


/* CSS media */
@media screen and (max-width: 767px) {
    #services-main-central-1 .container {
        padding-bottom: 0px;
    }

    .services-main-central-2-bottom img {
        margin-top: 80px;
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .services-main-central-2-bottom img {
        margin-top: 70px;
        width: 400px;
    }

    .fa.fa-chevron-left {
        left: 19%;
        top: 52%;
    }

    .fa.fa-chevron-right {
        right: 19%;
        top: 52%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .services-main-central-2-bottom img {
        margin-top: 70px;
    }

    .fa.fa-chevron-left {
        top: 55%;
        left: 15%;
    }

    .fa.fa-chevron-right {
        top: 55%;
        right: 15%;
    }
}

@media screen and (min-width: 1201px) {
    .fa.fa-chevron-left {
        top: 48%;
        left: 21%;
    }

    .fa.fa-chevron-right {
        top: 48%;
        right: 21%;
    }
}
